# Spotify and downloading dependencies
spotipy
requests
python-dotenv
beautifulsoup4

# Audio processing dependencies
transformers
librosa
numpy<2.0
torch
soundfile
supabase
sentence-transformers
scikit-learn
scipy
ffmpeg-python
pydub